<div layout:fragment="content" class="container mx-auto my-4" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div class="max-w-sm flex items-center gap-4">
        <div id="message">
            Hello World
        </div>
        <button class="items-center justify-center px-6 py-2.5 text-
center text-white duration-200 bg-black border-2 border-black rounded-
full inline-flex hover:bg-transparent hover:border-black hover:text-
black focus:outline-none focus-visible:outline-black text-sm focus-
visible:ring-black"
                th:hx-get="@{/htmx}"
                hx-target="#message"
        >
            Click me

        </button>
    </div>
</div>